*.pyc

# Misc artifacts
*.bak
*.sav
*.old
*.orig
.*.swp
*.DS_Store
*~
.nfs*
*.tmp
*.rej
*.project
core
python_modules/
tmp/
build/
__pycache__/
backend/lqserver/db.sqlite3
frontend/lqclient/.env.local
